<script src="https://cdn.tiny.cloud/1/przgmzfaioiisrc6rjnssfkp36q9iscbyi8az9573ti8fztu/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

<script>
    tinymce.init({
        selector: 'textarea',
        plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak',
        toolbar_mode: 'floating',
    });
</script>

<%= form_with(model: casestudy) do |form| %>
  <% if casestudy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(casestudy.errors.count, "error") %> prohibited this casestudy from being saved:</h2>

      <ul>
        <% casestudy.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <!--  <div class="field">-->
  <%#= form.label :slug %>
  <%#= form.text_field :slug %>
  <!--  </div>-->


  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>


  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>



  <div class="field">
    <%= form.label :casecategory_id %>


    <div class="field">
      <select name="casestudy[casecategory_id]" id="casecategory_id">
        <% @casecategories.each do |casecategory| %>
          <option value="<%= casecategory.id %>"><%= casecategory.tag %></option>
        <% end %>
      </select>

    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
