<!-- Page Content -->
<div class="container">

  <div class="row">

    <!-- Post Content Column -->
    <div class="col-md-9">

      <!-- Title -->
      <h1 class="mt-4"><%= @casestudy.title %></h1>

      <hr>
      <!-- Preview Image -->
      <%= image_tag(@casestudy.image,  alt: "Edit Entry", class:"card-img-top", size: "500x300" )%>

      <div class="card-footer text-black">
        <%= @casestudy.user.surname %> <%= @casestudy.user.name %>
        <%= @casestudy.created_at.to_s(:short) %>
        <strong class="text-primary"><%= @casestudy.category.tag %></strong>
        <%= render_shareable :static_link => true %>

        <% if current_user %>
          <td><%= link_to 'Edit', edit_casestudy_path(@casestudy) %></td>
          <td><%= link_to 'Destroy', @casestudy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
          <!--          <td><%#= link_to 'Show', post %></td>-->
        <% end %>
      </div>

      <hr>

      <%= sanitize  @casestudy.description %>
      <hr>


    </div>

    <div class="col-md-3">
      <br> <br>
      <br> <br>
      <br> <br>
      <%= render 'layouts/search' %>

      <%= render 'layouts/latestCase' %>

    </div>

  </div>
</div>