<p id="notice"><%= notice %></p>

<!-- Page Content -->
<div class="container">

  <div class="row">

    <!-- Post Content Column -->
    <div class="col-md-9">

      <!-- Title -->
      <h1 class="mt-4"><%= @interview.title %></h1>

      <hr>
      <!-- Preview Image -->
      <%= image_tag(@interview.image,  alt: "Edit Entry", class:"card-img-top", size: "500x300" )%>

      <div class="card-footer text-black">
        <%= @interview.user.surname %> <%= @interview.user.name %>
        <%= @interview.created_at.to_s(:short) %>
        <!--        <strong class="text-primary"><%#= @casestudy.casecategory.tag %></strong>-->
        <%= render_shareable :static_link => true %>

        <% if current_user %>
          <td><%= link_to 'Edit', edit_interview_path(@interview) %></td>
          <td><%= link_to 'Destroy', @interview, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
          <!--          <td><%#= link_to 'Show', post %></td>-->
        <% end %>
      </div>

      <hr>

      <%= sanitize  @interview.description %>
      <hr>

    </div>

    <div class="col-md-3">
      <br> <br>
      <br> <br>
      <br> <br>
      <%= render 'layouts/searchInterview' %>

      <%#= render 'layouts/latestCase' %>

    </div>

  </div>
</div>