<div class="login-center">

  <h2 class="col-xs-12 col-md-6 col-lg-6 text-center">Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field col-lg-6">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control form-control-user" %>
  </div>
    <br>

    <div class="actions col-xs-12 col-lg-6 col-md-6 d-grid gap-2 text-center">
    <%= f.submit "Send me reset password instructions", class:"btn btn-primary"%>
  </div>
<% end %>
  <br>
<%= render "devise/shared/links" %>
</div>