<br><br><br><br><br>

<%= link_to 'New Post', new_post_path %>

<div class="container">
  <div class="row align-items-start">

    <div class="col-md-10">
      <div class="row">
        <% @posts.each do |post| %>

      <div class="col-md-6">
          <div class="card">
            <%= link_to image_tag(post.image,  alt: "Edit Entry", class:"card-img-top", size: "300x200" ) , post %>

            <div class="card-body">

              <p class="card-text">
                <%= post.category.tag %>
                <br>
                <%= post.title %>
              </p>
            </div>
            <div class="card-footer text-black">

            <strong> <%= post.user.surname %> <%= post.user.name %>
              <%= post.created_at.to_s(:short) %>
              <% if current_user %>
                <td><%= link_to 'Edit', edit_post_path(post) %></td>
                <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% else %>
                <td><%= link_to 'Show', post %></td>

              <% end %>
            </strong>

            </div>
          </div>
        </div>

        <% end %>

      </div>
    </div>

    <div class="col-md-2">
      <div class="row">
        SEARCH

        <%= search_form_for @q do |f| %>

          <%= f.search_field :title_cont %>
          <%= f.submit %>
          <% end %>
      </div>
    </div>
  </div>
</div>

</div>
