<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Start Bootstrap</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>



<!-- Page Content -->
<div class="container">

  <div class="row">

    <!-- Post Content Column -->
    <div class="col-lg-8">

      <!-- Title -->
      <h1 class="mt-4"><%= @post.title %></h1>

      <!-- Author -->
      <p class="lead">
        by
        <a href="#">
          <strong class="d-inline-block mb-2 text-white btn btn-primary"><%= @post.category.tag %></strong></h2>
        </a>
      </p>

      <hr>

      <!-- Date/Time -->
      <p>Posted on <%= @post.created_at.to_s(:short) %></p>

      <hr>

      <!-- Preview Image -->
      <%= link_to image_tag(@post.image,  alt: "Edit Entry", class:"card-img-top" ) , @post %>

      <hr>

      <%= sanitize  @post.description %>
      <hr>





    </div>



<!--<p>-->
<!--  <strong>Title:</strong>-->
  <%#= @post.title %>
<!--</p>-->

<!--<p>-->
<!--  <strong>Image:</strong> <br>-->
  <%#= image_tag(@post.image, size: "500x500") %>
<!--</p>-->

<!--<p>-->
<!--  <strong>Description:</strong>-->
  <%#= sanitize @post.description, :length => 100  %>
<!--</p>-->



<p>
  <strong>User:</strong>
  <%= @post.user_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @post.category_id %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
  </div>
</div>