<!-- Page Content -->
<div class="container">

  <div class="row">

    <!-- Post Content Column -->
    <div class="col-md-8">

      <!-- Title -->
      <h1 class="mt-4"><%= @post.title %></h1>

      <hr>

      <!-- Preview Image -->
      <%= image_tag(@post.image,  alt: "Edit Entry", class:"card-img-top" )%>

      <div class="card-footer text-muted">
        <%= @post.created_at.to_s(:short) %>
        <%= @post.user.surname %> By <%= @post.user.name %>
      </div>

      <hr>

      <%= sanitize  @post.description %>
      <hr>





    </div>

    <div class="col-md-4">
      <br> <br>
      <br> <br>
      <br> <br>
      <div class="row">
        <% @posts.each do |post| %>

          <div class="col-md-12">
            <div class="card">
              <%= link_to image_tag(post.image,  alt: "Edit Entry", class:"card-img-top", size: "300x200" ) , post %>

              <div class="card-body">

                <p class="card-text">
                  <%= post.category.tag %>
                  <br>
                  <%= post.title %>
                </p>
              </div>
              <div class="card-footer text-black">
                <%= post.user.surname %> <%= post.user.name %>
                <%= post.created_at.to_s(:short) %>
                <% if current_user %>
                  <td><%= link_to 'Edit', edit_post_path(post) %></td>
                  <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <% else %>
                  <td><%= link_to 'Show', post %></td>

                <% end %>
              </div>
            </div>
          </div>

        <% end %>

      </div>
    </div>





    <%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
  </div>
</div>