<!-- Page Content -->
<div class="container">

  <div class="row">
    <!-- Post Content Column -->
    <div class="col-xs-9 col-md-9 col-lg-9">
      <!-- Title -->
      <h1 class="mt-4 titlePost"><%= @post.title %></h1>
      <hr>
      <!-- Preview Image -->
      <%= image_tag(@post.image, alt: "Edit Entry", class: "card-img-top") %>
      <div class="card-footer text-black">
        <%= @post.user.surname %> <%= @post.user.name %> |
        <%= @post.created_at.to_s(:short) %>
        <strong class="text-primary category"><%= @post.category.tag %></strong>
        <%= render_shareable :static_link => true %>

        <% if current_user %>
          <td><%= link_to 'Edit', edit_post_path(@post) %></td>
          <td><%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
        <% end %>
        <hr>

      </div>

      <div class="col-xd-12 col-md-9 col-lg-9 img-fluid">
        <%= sanitize @post.description%>
      </div>


    </div>

    <div class="col-md-3">
      <br> <br>
      <br> <br>
      <br> <br>
      <%= render 'layouts/search' %>

      <%= render 'layouts/latestPost' %>

    </div>

  </div>
</div>