<!-- Page Content -->
<div class="container">

  <div class="row">

    <!-- Post Content Column -->
    <div class="col-md-9">

      <!-- Title -->
      <h1 class="mt-4"><%= @post.title %></h1>

      <hr>
      <!-- Preview Image -->
      <%= image_tag(@post.image,  alt: "Edit Entry", class:"card-img-top" )%>

      <div class="card-footer text-black">
        <%= @post.user.surname %> <%= @post.user.name %>
        <%= @post.created_at.to_s(:short) %>
        <strong class="text-primary"><%= @post.category.tag %></strong>
        <%= render_shareable :static_link => true %>

        <% if current_user %>
          <td><%= link_to 'Edit', edit_post_path(@post) %></td>
          <td><%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
<!--          <td><%#= link_to 'Show', post %></td>-->
        <% end %>
      </div>

      <hr>

      <%= sanitize  @post.description %>
      <hr>
      <% if current_user %>
        <td><%= link_to 'Edit', edit_post_path(@post) %></td>
        <td><%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% else %>
<!--        <td><%#= link_to 'Show', @post %></td>-->

      <% end %>

    </div>

    <div class="col-md-3">
      <br> <br>
      <br> <br>
      <br> <br>
      <%= render 'layouts/search' %>

      <%= render 'layouts/latestPost' %>

    </div>

  </div>
</div>