
<h3>LATEST ARTICLE</h3>
<div class="row">
  <% if @casestudies.any? %>

    <% @casestudies.each do |casestudy| %>
      <div class="col-md-12">
        <div class="card">
          <%= link_to image_tag(casestudy.image,  alt: "Edit Entry", class:"card-img-top", size: "300x200" ) , casestudy %>
          <div class="card-body">
            <p class="card-text">
              <%= casestudy.category.tag %>
              <br>
              <%= casestudy.title %>
            </p>
          </div>
          <div class="card-footer text-black">
            <%= casestudy.user.surname %> <%= casestudy.user.name %>
            <%= casestudy.created_at.to_s(:short) %>
            <% if current_user %>
              <td><%= link_to 'Edit', edit_casestudy_path(casestudy) %></td>
              <td><%= link_to 'Destroy', casestudy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% else %>
              <td><%= link_to 'Show', casestudy %></td>
            <% end %>
          </div>
        </div>
      </div>

    <% end %>
  <% else %>

    <p class="text-center">
      There are no record for your request! <br>
      <%= image_tag("nocontent22.jpg", :alt => "no content", size:"00x400") %>
    </p>

  <% end %>
</div>